@{
    ViewData["Title"] = "Recurso no encontrado";
}

<div class="d-flex align-items-center">
    <div class="container text-center">
        <h1>404</h1>
        <hr/>
        <p>Página no encontrada.</p>
    </div>
</div>
