USE [master]
GO
/****** Object:  Database [PermisosDb]    Script Date: 16/01/2020 12:32:22 a. m. ******/
CREATE DATABASE [PermisosDb];
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PermisosDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PermisosDb]
GO
USE [PermisosDb]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 16/01/2020 12:32:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpleado] [nvarchar](100) NOT NULL,
	[ApellidosEmpleado] [nvarchar](100) NOT NULL,
	[TipoPermiso] [int] NOT NULL,
	[FechaPermiso] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPermisos]    Script Date: 16/01/2020 12:32:22 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPermisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripción] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Permisos]  WITH CHECK ADD  CONSTRAINT [FK_Permisos_TipoPermisos] FOREIGN KEY([TipoPermiso])
REFERENCES [dbo].[TipoPermisos] ([Id])
GO
ALTER TABLE [dbo].[Permisos] CHECK CONSTRAINT [FK_Permisos_TipoPermisos]
GO
USE [master]
GO
-- tipos de pemisos
INSERT INTO [dbo].[TipoPermisos](Descripción) VALUES('Enfermedad');
GO
INSERT INTO [dbo].[TipoPermisos](Descripción) VALUES('Funeral');
GO
INSERT INTO [dbo].[TipoPermisos](Descripción) VALUES('Vacasiones');
GO
INSERT INTO [dbo].[PermisosBb](Descripción) VALUES('Diligencias');
GO